body {
    margin: 0;
    font-family: Arial;
    background-color: #f0f0f0;
}

.login-container {
    width: 300px;
    margin: 150px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.login-container input,
.login-container button {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

#navbar {
    display: flex;
    gap: 10px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 5px #aaa;
}

#container {
    display: flex;
}

#sidebar {
    width: 200px;
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 2px 0 5px #aaa;
}